mixin pardivider(picurl)
  .pardivider
    img(src=picurl class="img-responsive"
    data-bottom-top="transform:translateY(0%)" data-top-bottom="transform:translateY(-40%)")

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Theta Tau @ UCSD
    // CSS
    link(rel='shortcut icon' type='image/png' href='/images/tt_logo.png')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/simpletextrotator.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css/et-line-font.css', rel='stylesheet')
    link(href='css/magnific-popup.css', rel='stylesheet')
    link(href='css/flexslider.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/our_custom.css', rel='stylesheet')

  body#skrollr-body

    // Preloader
    .page-loader
      .loader Loading...

    // Navigation start
    nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top.one-page(role='navigation')
      .container.top_bar
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse').mobile_menu_button
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#totop')
            img(src="images/tt_logo.png").header_img
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right.menu_items
            li
              a(href='#totop') Home
            li
              a.section-scroll(href='#about') About
            li
              a.section-scroll(href='#works') Events
            li
              a.section-scroll(href='#rush') Rush
            li
              a.section-scroll(href='#team') Members
            li
              a.section-scroll(href='#contact') Contact

    section#home.home-section.home-full-height.bg-dark-30(data-background='images/section-12.jpg')

      .video-player(data-property="{videoURL:'https://www.youtube.com/watch?v=MFZRJDWFhuY', containment:'.home-section', startAt:0, mute:true, autoPlay:true, loop:true, opacity:0.75, showControls:false, showYTLogo:false, vol:0}")

      .hs-caption
        .caption-content
          .hs-title-size-1.font-alt.mb-30
            | Epsilon Delta Chapter
          .hs-title-size-4.font-alt.mb-40
            | Theta Tau @ UCSD
          a.btn.btn-border-w.btn-round.section-scroll(href='#rush') Join Us
    // Home end
    // Wrapper start
    .main
      // About start
      section#about.module
        .container
          .row
            .col-md-7
              h2.module-title.font-alt About Theta Tau @ UCSD
              .module-subtitle
                | In the Spring of 2009, several students of UCSD's Jacobs School of Engineering felt that there was a lack of engineering representation in the Greek community on campus. Luckily an opportunity arose for them to change that.
                p
                | With the help of a Theta Tau alumni, Jennifer Young, thirteen founding fathers took the first step towards establishing a chapter of the nation's oldest and largest professional engineering fraternity on the UCSD campus: Ashay Verma, Errynne Bell, Takahiro Kuwayama, Amelia Chu, Xiumei Wu, Chris Lam, Chuong Do, Joe Shao, Michelle Mojica, Tanakorn Best Techajongchareon, Scott Louie, Alan Leung, and John Phu Nguyen.
                p
                | On November 20th, 2010, UCSD was installed as the Epsilon Delta Chapter of Theta Tau.
            .col-md-5
              img.height-about(src='images/EpsilonDelta.jpg', alt='')

          .row
            .col-md-7.col-md-push-5
              h2.module-title.font-alt Theta Tau Origins
              .module-subtitle
                | Theta Tau was originally founded as the "Society of Hammer and Tongs," on October 15, 1904 by Erich J. Schrader, Elwin L. Vinal, William M. Lewis, and Isaac B. Hanks at the University of Minnesota. The name was changed to Theta Tau at the fraternity's first national convention at the University of Minnesota in 1911. Since then, approximately 30,000 members have been initiated.
                p
                | The purpose of Theta Tau is to develop and maintain a high standard of professional interest among its members, and to unite them in a strong bond of fraternal fellowship. The goals of the fraternity are to promote the social and professional development of its members during and after their college years.
            .col-md-5.col-md-pull-7
              img.originImg(src='images/Origins.jpg', alt='')

          // .row
          .row
            .col-sm-2.col-sm-offset-5
              .large-text.align-center
                a.section-scroll(href='#features')
                  i.fa.fa-angle-down

      hr.divider-w

      section#features.module
        .container
          .row
            .col-sm-6.col-sm-offset-3
              h2.module-title.font-alt Three Pillars
              .module-subtitle.font-serif(style="text-align:center;")
                | We, as brothers of Theta Tau, strive to embody the three pillars of our fraternity.
          .row
            .col-sm-1.co-md-1.col-lg-1
            .col-sm-4.col-md-4.col-lg-4
              .features-item
                .features-icon
                  span.icon-profile-male
                h3.features-title.font-alt Brotherhood
                | 							We strive to make the group as closely knit as possible throughout one’s college years. Our goal is to develop bonds between our brothers that will last a lifetime. We foster an inviting, safe, and social environment in which our members become lifelong friends.
            // Brotherhood end
            .col-sm-2.co-md-2.col-lg-2
            // Professionalism start
            .col-sm-4.col-md-4.col-lg-4
              .features-item
                .features-icon
                  span.icon-briefcase
                h3.features-title.font-alt Professionalism
                | 							We also seek to shape up one’s professional interests to prepare them for their life ahead of college. We plan various networking opportunities as well as events that provide a sneak peek at different professional careers.
            // Professionalism end
            .col-sm-1.co-md-1.col-lg-1
          section(style="height:75px;")
          .row
            // Philanthropy start
            .col-sm-4.col-md-4.col-lg-4
            .col-sm-4.col-md-4.col-lg-4
              .features-item
                .features-icon
                  span.icon-heart
                h3.features-title.font-alt Philanthropy
                | 							For the purpose of our members’ personal growth, as well as our community’s benefits, we are involved in projects that give back to the community around us. Serving alongside brothers will establish strong bonds and also guarantee a truly meaningful time through one’s college years.
            .col-sm-4.col-md-4.col-lg-4

      hr.divider-w
      +pardivider("images/jimmy_and_alex.jpg")
      // Portfolio start
      section#works.module.pb-0
        .container
          .row
            .col-sm-6.col-sm-offset-3
              h2.module-title.font-alt What We Do
          // .row
          .row
            .col-sm-12
              ul#filters.filter.font-alt.hidden-xs
                li
                  a.current.wow.fadeInUp(href='#', data-filter='*') All
                li
                  a.wow.fadeInUp(href='#', data-filter='.brotherhood', data-wow-delay='0.2s') Brotherhood
                li
                  a.wow.fadeInUp(href='#', data-filter='.professional', data-wow-delay='0.4s') Professionalism
                li
                  a.wow.fadeInUp(href='#', data-filter='.philanthropy', data-wow-delay='0.6s') Philanthropy
          // .row
        // .container
        // Portfolio list start
        ul#works-grid.works-grid.works-grid-gut.works-grid-3.works-hover-w
          // Portfolio item start
          li.work-item.philanthropy.brotherhood
            a()
              .work-image
                img(src='http://c1.staticflickr.com/9/8517/8489997983_157022a086_b.jpg', alt='')
              .work-caption.font-alt
                h3.work-title Extra Life 2013
                .work-descr
                  | Gaming to Raise Money for Children's Hospitals
          // Portfolio item end
          // Portfolio item start
          li.work-item.brotherhood.professional
            a()
              .work-image
                img(src='http://c2.staticflickr.com/6/5522/14374833362_0425d01f40_b.jpg', alt='')
              .work-caption.font-alt
                h3.work-title Celebrating Graduation, 2014
                .work-descr
                  | Congratulations to Our New Alumni!
          // Portfolio item end
          // Portfolio item start
          li.work-item.professional
            a()
              .work-image
                img(src='http://c4.staticflickr.com/4/3828/8941220266_072dcb4a72_b.jpg', alt='')
              .work-caption.font-alt
                h3.work-title Alumni Professionalism Dinner, 2013
                .work-descr
                  | Networking with Professionals, Connecting with Friends
          // Portfolio item end
          // Portfolio item start
          li.work-item.brotherhood
            a()
              .work-image
                img(src='http://c1.staticflickr.com/9/8102/8527762513_aebcc8fb11_b.jpg', alt='')
              .work-caption.font-alt
                h3.work-title Western Regionals 2012
                .work-descr
                  | Sharing Our Brotherhood with Fellow Chapters
          // Portfolio item end
          // Portfolio item start
          li.work-item.philanthropy
            a()
              .work-image
                img(src='http://c4.staticflickr.com/4/3896/14406986973_5bf1b7a8b7_c.jpg', alt='')
              .work-caption.font-alt
                h3.work-title Date Auction, 2014
                .work-descr
                  | Raising Money For Cancer Research
          // Portfolio item end
          // Portfolio item start
          li.work-item.professional.brotherhood
            a()
              .work-image
                img(src='http://c4.staticflickr.com/4/3767/11939623245_b50333eb6e_c.jpg', alt='')
              .work-caption.font-alt
                h3.work-title Iota Class Initiation Ceremony, 2013
                .work-descr
                  | Welcoming A New Generation of Brothers

      // Rush start
      hr.divider-w
      section#rush.module
        .container
          .row
            .col-sm-6.col-sm-offset-3
              h2.module-title.font-alt Rush: Fall 2015
              .module-subtitle.font-serif.center_text
                | Rush is a week long series of events held to allow potential new members to meet actives and get to know more about our fraternity.
          // .row
          .row
            .col-sm-6.col-md-3.col-lg-3.hidden-xs.hidden-sm
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon-presentation
                h3.alt-features-title.font-alt Info Night
                | 							Come out and learn about our fraternity and get a chance to meet the brothers of Theta Tau.<br><br>
                | Tuesday August 4th @ 7:30pm
                | Meet at the Triton Statue
              // Alt features item end
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon
                h3.alt-features-title.font-alt
                | 							 <br><br><br><br>
              // Alt features item end
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon-linegraph
                h3.alt-features-title.font-alt Professional Night
                | 							Have resume critiqued and learn quality professional skills from brothers in the industry! Professional attire is recommended.<br><br>

                | Thursday August 6th @ 7:30pm<br>

                | Meet at the Triton Statue
              // Alt features item end
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon-
                h3.alt-features-title.font-alt
                | 							 <br><br><br><br>
              // Alt features item end
            // .col
            // Alt features image start
            .col-md-6.col-lg-6
              .alt-services-image.align-center.rush-flyer
                img(src='images/thetatau_front.jpg', alt='')
            // Alt features image end
            .col-sm-6.col-md-3.col-lg-3.hidden-xs.hidden-sm
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon-
                h3.alt-features-title.font-alt
                | 							 <br><br><br><br>
              // Alt features item end
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon-chat
                h3.alt-features-title.font-alt Meet N Greet
                | 							Engineer seeking engineer? Come meet the brothers of Theta Tau speed dating style!<br><br>
                | Wednesday August 5th @ 7:30pm<br>
                | Meet at the Triton Statue
              // Alt features item end
              // Alt features item start
              .alt-features-item
                .alt-features-icon
                  span.icon-
                h3.alt-features-title.font-alt
                | 							 <br><br><br><br>

              .alt-features-item
                .alt-features-icon
                  span.icon-anchor
                h3.alt-features-title.font-alt Bondfire
                | Enjoy dinner and with the brothers!<br><br>
                | Friday August 7th @ 6:30pm<br>
                | Meet at the Triton Statue

      // Divider
      hr.divider-w
      +pardivider("images/kappas.jpg")
      // Divider
      // Member Gallery start
      section#team.module
        .container
          .row
            .col-sm-6.col-sm-offset-3
              h2.module-title.font-alt Meet Our Brothers
              .module-subtitle.font-serif.center_text
                | We forge lifelong bonds of fraternal friendship, a journey that develops and delivers a network of lasting personal and professional relationships.

              h3.module-subtitle.font-alt.center_text Current Active Members
              .module-subtitle.font-serif.center_text
              | Currently under construction! We are going through internal renovations right now so we can better serve our current active members. We will be displaying everyone soon enough!


      // Testimonials start
      section.module.bg-dark-60.pt-0.pb-0(data-background='images/section-7.jpg')
        .testimonials-slider.pt-140.pb-140
          h2.module-title.font-alt Current Science/Engineering via Twitter
          ul.slides
            each tweet, index in tweetData
              // Slide loop start
              li
                .container
                  .row
                    .col-sm-12
                      .module-icon
                        span.icon-twitter
                  // .row
                  .row
                    .col-sm-8.col-sm-offset-2
                      a(href="#{tweet.url}")
                        blockquote.testimonial-text.font-alt.twitter_text
                          | #{tweet.text}
                  // .row
                  .row
                    .col-sm-4.col-sm-offset-4
                      .testimonial-author
                        .testimonial-caption.font-alt
                          .testimonial-title #{tweet.name}
                          .testimonial-descr @#{tweet.screen_name}

            // Post item end
            // Post item start
            .col-sm-6.col-md-4.col-lg-4
              .post.mb-20
                .post-thumbnail
                  a(href='blog-single-left.html')
                    img(src='images/post-3.jpg', alt='')
                .post-header.font-alt
                  h2.post-title
                    a(href='blog-single-left.html') We in New Zealand
                  .post-meta
                    | By
                    a(href='#') Dylan Woods
                    |  | 5 November | 15 Comments
                .post-entry
                  p
                    | A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                .post-more
                  a.more-link(href='blog-single-right.html') Read more
            // Post item end
          // .row

      // Contact start
      hr.divider-w
      section#contact.module
        .container
          .row
            .col-sm-6.col-sm-offset-3
              h2.module-title.font-alt Get in Touch
          // .row
          .row
            .col-sm-6.col-sm-offset-3
              form#contact-form(role='form', novalidate='', action='/contact', name='contact', method='post')
                .form-group
                  label.sr-only(for='cname') Name
                  input#cname.form-control(type='text', name='cname', placeholder='Name*', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .form-group
                  label.sr-only(for='cemail') Your Email
                  input#cemail.form-control(type='email', name='cemail', placeholder='Your E-mail*', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
                .form-group
                  textarea#cmessage.form-control(name='cmessage', rows='7', placeholder='Message*', required='', data-validation-required-message='Please enter your message.')
                  p.help-block.text-danger
                .text-center
                  button.btn.btn-block.btn-round.btn-d(type='submit') Submit
              // Ajax response
              #contact-response.ajax-response.font-alt
          // .row
      // Contact end

      // Widgets start
      .module-small.bg-dark
        .container
          .row
            .col-sm-4
              // Widget start
              .widget
                h5.widget-title.font-alt.center_text Want to Learn More?
                .row
                  .col-sm-2
                  .col-sm-8
                    p.center_text
                      |Outside of the Epsilon Delta chapter at UCSD, Theta Tau is the oldest
                      |and largest professional engineering fraternity in the United States,
                      |with chapters everywhere from coast to coast!
                    p.center_text
                      |For more information, visit Theta Tau's national site: &nbsp
                      a(href="thetatau.org", style="font-size:13px;") thetatau.org
              // Widget end
            .col-sm-4
              // Widget start
              .widget
                h5.widget-title.font-alt.center_text Visit Our Neighboring Chapters
                ul.icon-list.center_text
                  li
                    a(href='http://www.thetatauuci.com/') UC Irvine
                  li
                    a(href='http://theta-tau-chi-chapter.herokuapp.com/') University of Arizona
                  li
                    a(href='http://www.thetataubruins.org/') UC Los Angeles
                  li
                    a(href='http://www.engr.ucr.edu/~thetatau/') UC Riverside
                  li
                    a(href='http://renothetatau.org/') University of Nevada, Reno
                  li
                    a(href='http://www.calthetatau.com/') UC Berkeley
                  li
                    a(href='http://pacific.orgsync.com/org/thetatau/About') University of the Pacific
                  li
                    a(href='http://www.mdthetatau.org/') UC Merced
                  li
                    a(href='http://www.davisthetatau.com/') UC Davis
                  li
                    a(href='') Arizona State University
              // Widget end
            .col-sm-4
              // Widget start
              .widget
                h5.widget-title.font-alt.center_text Credits
                ul.icon-list
                  li.center_text.font-alt
                    | Home Page Video
                  li
                    .row
                      .col-sm-2
                      .col-sm-4.center_text
                        a() FLYT Media
                      .col-sm-4.center_text
                        a(href="flytmedia.com") www.flytmedia.com
                  li.center_text.font-alt
                    | Icon Design
                  li
                    .row
                      .col-sm-2
                      .col-sm-8.center_text
                        a() Ryan Soo
                  li.center_text.font-alt
                    | Website Created By
                  li
                    .row
                      .col-sm-2
                      .col-sm-4.center_text
                        ul
                          li
                            a() Alex Yang
                          li
                            a() Benjie Genchel
                          li
                            a() Daniel Kang
                      .col-sm-4.center_text
                        ul
                          li
                            a() Michael Luo
                          li
                            a() Jamie Yang
                          li
                            a() Kyle Zhu

      hr.divider-d

      // Footer start
      footer.footer.bg-dark
        .container
          .row
            //fontawesome icons
            .col-sm-2.col-sm-offset-3.col-xs-4.text-center
              a(href='https://www.facebook.com/pages/Theta-Tau-UCSD/346680895436731?fref=ts')
                i.fa.fa-facebook.fa-3x
            |
            .col-sm-2.col-xs-4.text-center
              a(title="Coming Soon")
                i.fa.fa-twitter.fa-3x
            |
            .col-sm-2.col-xs-4.text-center
              a(href='https://instagram.com/thetatau_ucsd/')
                i.fa.fa-instagram.fa-3x


    // Scroll-up
    .scroll-up
      a(href='#totop')
        i.fa.fa-angle-double-up
    // Javascript files
    script(src='js/jquery-2.1.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='js/jquery.mb.YTPlayer.min.js')
    script(src='js/appear.js')
    script(src='js/jquery.simple-text-rotator.min.js')
    script(src='js/jqBootstrapValidation.js')
      <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
      <script src="js/gmaps.js"></script>
    script(src='js/isotope.pkgd.min.js')
    script(src='js/imagesloaded.pkgd.js')
    script(src='js/jquery.flexslider-min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/jquery.fitvids.js')
    script(src='js/smoothscroll.js')
    script(src='js/wow.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/contact.js')
    script(src='js/custom.js')
    script(src='js/our_custom.js')
    script(src='js/skrollr.min.js')
